* {
    box-sizing: border-box;
}


body {
    background: linear-gradient(#9CA2B0, #6c7280);
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* Formulario de Contacto */
h1 {
    font-weight: 300;
    font-size: 2.5em;
    color: #F1F1F1;
}

form {
    text-align: left;
    width: 100%;
    background: #FEF4F3;
    border-radius: .3em;
}

form label {
    font-size: .8em;
    line-height: 2em;
    margin-left: 1em
}

form input, textarea, select {
    width: 100%;
    padding: .5em .8em;
    font-size: 1em;
    border-radius: .3em;
    border: none;
    background: #9ca2b091;
    color: #000;
    transition: .3s;
}

form .button:hover {
    cursor: pointer;
    background: #6c7280;
    color: #FEF4F3;
}